@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--VeryDarkBlue);
    font-family: 'Overpass', sans-serif;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    display: block;
    background-color: var(--DarkBlue);
    height: 50%;
    width: 80%;
    border-radius: 2rem;
    padding: 2rem;
}

.mainHeading {
    text-align: left;
}

p {
    color: var(--MediumGrey);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1.5rem;
}

.imgStar {
    height: 50%;
    width: 50%;
}

.radioLabel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1f252f;
    background-blend-mode: darken;
    border-radius: 100%;
    color: hsl(216, 12%, 54%);
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.radioLabel:hover {
    background-color: var(--LightGrey);
    cursor: pointer;
}

.radioContainer {
    display: flex;
    justify-content: space-between;
}

.radios {
    display: none;
}

.radioContainer input[type="radio"]:checked+label {
    background-color: var(--orange);
}

.star {
    display: flex;
    margin-top: auto;
}

.btn {
    border-radius: 2rem;
    border: none;

    display: block;
    height: 2.6rem;
    margin: 1rem auto 3rem auto;
}

.submit:hover {
    background-color: var(--White);
    cursor: pointer;
}

.submit {
    background-color: var(--orange);
    width: 100%;

}

.rating {
    color: var(--orange);
    background-color: #1f252f;
    margin-bottom: 1rem;
    width: 70%
}


.active {
    display: block;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.non-visible {
    visibility: hidden;
}

h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 0px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attrelative a {
    color: hsl(228, 45%, 44%);
}

.imgThankU {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.headThankU {
    text-align: center;
}

#error {

    color: red;
    font-weight: 200;
    margin: 0px;
    text-align: left;
}

.msg-thanku {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .container {
        height: 60%;
        width: 27%;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        height: 26rem;
        width: 22rem;
    }
}
